.Input {
    &__label {
        font-weight: 400;
        // margin-bottom: 5px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }

    &__el {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.19);
        color: #fff;
        font-weight: 500;
        background-color: unset;
        transition: all .2s ease;
        font-size: 27px;
        line-height: 40px;
        border-radius: 12px;

        &:focus {
            border-color: var(--aqua);
        }
    }

    &__error {
        margin-top: 5px;    
        color: var(--red);
        font-size: 12px;
        line-height: 15px;
    }
}

.Input.error {

    .Input__el {
        border-color: var(--red);
    }
}

.Input.disabled {
    pointer-events: none;
    touch-action: none;
    .Input__el {
        pointer-events: none;
        touch-action: none;
        opacity: .5;
    }
}