.Navigation {
    margin-top: 50px;

    &__list {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        margin: 0 10px;
    }


    &__btn.active {
        background-color: var(--purp);
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        background-color: var(--gray);
        border-radius: 10px;
        transition: all .3s ease;
        height: 45px;

        &:hover {
            background-color: var(--purp);
            // .Navigation__btn_icon {
            //     color: var(--bg);
            //     opacity: 1;
            // }
            // .Navigation__btn_text {
            //     color: var(--bg);
            // }
        }

        &:active {
            transform: scale(0.95);
        }

        &_icon {
            color: #fff;
            opacity: .5;
            line-height: 100%;
            margin-right: 15px;
            transition: all .3s ease;
        }

        &_text {
            color: #fff;
            font-weight: 700;
            line-height: 100%;
            transition: all .3s ease;
        }

        &_badge {
            font-size: 10px;
            line-height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background-color: green;
            color: #fff;
            border: 2px solid var(--bg);
            margin-left: 15px;
            flex: 0 0 auto;
        }
    }
}